출처 : 프로그래머스

In [71]:
def solution(lines):
    answer = 0
    for i in lines:
        i.sort()
    lines1 = [[i for i in range(line[0], line[1] )] for line in lines]
    results = []
    for i in lines1:
        for j in i:
            if j not in results:
                results.append(j)
            else:
                results.remove(j)
                answer += 1
    return answer

lines =  [[0, 5], [3, 9], [1, 10]]
solution(lines)

8

In [157]:
def solution(lines):
    answer = 0
    # -100 ≤ a < b ≤ 100
    lines1 = [set(range(min(line), max(line))) for line in lines]
    results = []
    for i in range(len(lines1)-1):
        for j in range(i+1 , len(lines1)):
            result = lines1[i] & lines1[j]
            results += result        
    print(results)   
    return  len(set(results))


lines = [[0, 1], [2, 3], [0, 4]]
solution(lines)

[0, 2]

2

In [156]:
# 테스트 케이스 1, 9 오류가 난다. 
def solution(lines):
    answer = 0
    # -100 ≤ a < b ≤ 100
    for i in lines:
        i.sort()
    lines1 = [[i for i in range(min(line), max(line) + 1)] for line in lines]
    results = []
    for i in range(len(lines1)-1):
        for j in range(i+1 , len(lines1)):
            result = list(set(lines1[i]) & set(lines1[j]))
            print(result)
            if len(result) > 1:
                results += result
    print(results)
    answer = len(set(results))-1  if len(results) > 0 else 0 
    return answer

lines =[[0, 1], [2, 3], [0, 4]]
solution(lines)

[]
[0, 1]
[2, 3]
[0, 1, 2, 3]

3