출처 : 프로그래머스

In [8]:
def solution(s1, s2):
    answer = 0
    if len(s1) > len(s2) :
        s1, s2 = s2, s1
    for s_2 in s2:
        if s_2 in s1:
            answer += 1
    return answer

s1 = ["a", "b", "c"]
s2 = ["com", "b", "d", "p", "c"]
solution(s1, s2)

2

In [9]:
s1 = ["a", "b", "c"]
s2 = ["com", "b", "d", "p", "c"]
set(s1)&set(s2)

{'b', 'c'}

In [16]:
s1 = ["a", "b", "c", "a"]
s2 = ["com", "b", "d", "p", "c"]
dic = {i:1 for i in s1}
sum(dic.get(j,0) for j in s2)

2