출처 : 프로그래머스

In [54]:
def solution(order):
    price_4500 = ["iceamericano", "americanoice", "hotamericano", "americanohot", "americano", "anything"]
    price_5000 = ["icecafelatte", "cafelatteice", "hotcafelatte", "cafelattehot", "cafelatte"]
    answer = sum([4500 if i in price_4500 else 5000 for i in order])
    return answer

order = ["cafelatte", "americanoice", "hotcafelatte", "anything"]
solution(order)

19000