출처 : 프로그래머스

In [67]:
def solution(dartResult):
    answer = 0
    score_dict = {"S":1, "D": 2, "T":3}
    list_ = []
    dartResult =  dartResult.replace('10', 'A')
    for idx,v in enumerate(dartResult):
        if v.isdigit() :
            s_ = v
        elif v == 'A':
            s_ = '10'
        else:
            if v == "*":
                list_[-2:] = [i * 2 for i in list_[-2: ]]
            elif v == "#":
                list_[-1:] = [i * -1 for i in list_[-1:]]
            else:
                list_.append(int(s_) ** score_dict[v])
    answer = sum(list_)
    return answer

dartResult ="1S2D*3T"
print(solution(dartResult))

dartResult = "1T2D3D#"
print(solution(dartResult))

dartResult =  "1D2S#10S"
print(solution(dartResult))

dartResult = "1D2S3T*"
print(solution(dartResult))

[2, 8, 27]
37
[1, 4, -9]
-4
[1, -2, 10]
9
[1, 4, 54]
59